
/* Apenas para centralizar o form na página */
form {
    margin: 0 auto;
    width: fit-content;
    padding: 3em;
}

/* ////////////////////////////////////// */

.exemplo1 input[type=radio]{
    display:none; /* Esconde os inputs */
}

.exemplo1 label {
    cursor: pointer;
}
 
.exemplo1 input[type=radio] + label{
    display:inline-block;
    height:20px;
    padding:0 0 0 25px;
    margin:0 10px 0 0;
    background-image:url(http://www.webcis.com.br/images/imagens-noticias/checkbox/ico-master.png);
    background-repeat:no-repeat;
    background-position:0 0;
}
 
.exemplo1 input[type=radio]:checked + label{
    background-position:0 -30px;
}
 
/* ////////////////////////////////////// */

.exemplo2 input[type=radio]{
    display:none; /* Esconde os inputs */
}
 
.exemplo2 label {
    cursor: pointer; /* Inclui a mãozinha */
}

.exemplo2 input[type="radio"] + label:before {
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 16px;
    border-radius:4px;
}
 
.exemplo2 input[type="radio"]:checked + label:before {
    background: rgb(110, 199, 27);
    color: #FFF;
    content: "\2713";
    text-align: center;
}
 
.exemplo2 input[type="radio"]:checked + label:after {
    font-weight: bold;
}

/* /////////////////////////////////////////// */



.question label:before {
    content: '☆';
    color: white;
    font-size: 2em;
}

.question label.on:before {
    content: '★';
    color: yellow;
    /* uncomment for iOS */
    /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
}

.question input:checked + label:before {
    content: '★'; 
    color: yellow;
    /* uncomment for iOS */
    /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
}

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 20px; 
}

label:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.question input[type=radio] {
    display: none;
    -webkit-appearance: none;
}

/* Non-essential */
body {
    margin: 2em;
    background-color: #448AC1;
    text-align: center;
    /* remove gray highlight on tap in iOS */
    -webkit-tap-highlight-color:transparent;
}

.question {
    margin-bottom: 8em;
}

#q1 {
    margin-top: 6em;
}

p {
    color: white;
    font-family: Bitter, sans-serif;
    font-size: 2em;
}

#submit {
    font-size: 24px;
    font-family: Bitter, sans-serif;
    color: #448AC1;
    background-color: white;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 40px;
}

